body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  font-weight: 700;
  color: #111;
}